.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.content {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 95%;
  border: 1px solid #000;
}
.create-task {
  width: 42%;
  border-right: 1px solid #000;
}
.title {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}
.list-task {
  width: 55%;
}
@media (max-width: 768px) {
  .App {
    height: 150vh;
  }
  .content {
    width: 95%;
  }
  .create-task {
    width: 100%;
  }
  .list-task {
    width: 100%;
  }
}
/* @media (max-width: 500px){
  .create-task {
    width: 100%;
    background-color: antiquewhite;
  }
  .list-task {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1200px){
  .create-task {
    width: 100%;
    background-color: antiquewhite;
  }
  .list-task {
    width: 100%;
  }
} */
